.tree-loader {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 400px;
}

.tree-loader__item {
    display: block;
    box-sizing: border-box;
    height: 32px;

    border: 8px solid #FAFAFA;
    background: #EBEBEB;

    margin-left: 24px;
}

.tree-loader__item:nth-child(1),li:nth-child(5n){
    margin-left: 0;
}

.tree-loader__item:nth-child(odd){
    margin-right: 24px;
}
