.tree-menu-pages {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tree-menu-pages--offset{
    padding-left: 18px;
}

.tree-menu-pages-item {
    padding: 0px 18px;
    display: block;
    box-sizing: border-box;
    background: transparent;
    transition: background-color ease-out 0.3s;
}

.tree-menu-pages-item__selected{
    background-color: #EBEBEB;
}

.tree-menu-pages-item--link {
    display: block;
    color: inherit;
    text-decoration: none;
    width: 100%;
    padding: 4px;
}

.tree-menu-pages-item:hover > .tree-menu-pages-item--link {
    text-decoration: underline;
}

.item-closed > .tree-menu-pages-item .tree-menu-pages-item--link {
    font-size: 0;
    margin: 0;
    opacity: 0;
    padding: 0;

    transition: opacity .25s,
    font-size.25s,
    margin  .25s,
    padding  .25s;
}

.item-closed > .tree-menu-pages-item > .chevron-up{
    opacity: 0;
    transition: opacity .25s;
}

.item-opened > .tree-menu-pages-item .tree-menu-pages-item--link {
    transition: font-size .25s,
    margin .25s,
    padding .25s,
    opacity .25s .25s;
}
.item-opened > .tree-menu-pages-item > .chevron-up{
    transition: opacity .25s;
}

.item-colapsed{
    font-size: 0!important;
    margin: 0!important;;
    opacity: 0!important;;
    padding: 0!important;;

    transition: opacity .25s,
    font-size .5s .25s,
    margin .5s .25s,
    padding .5s .25s;
}

.chevron-up {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    float: left;
    width: 16px;
    height: 16px;
    border: 2px solid transparent;

    margin-top: 8px;
    margin-left: -16px;
}
.chevron-up::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    transform: rotate(45deg);
    right: 0px;
    top: 2px;

    will-change: transform;
    transition: transform ease 200ms;
}

.chevron-up--down::after{
    top: 4px;
    transform: rotate(-135deg);
}

.not-found-container{
    text-align: center;
}
