.app-sidebar{
  width: 300px;
  height: 100vh;
  background-color: #FAFAFA;
  border-right: 1px solid #E6E6E6;
  overflow-y: auto;
}


.search-container{
  position: sticky;
  top: 0;
  margin-bottom: 5px;
  z-index: 1;
}
